.global-counter {
  color: #900000;
  font-weight: bold;
  font-size: 120%;
}
qrcode-display {
  display: block;
  width: 160px;
  margin: 0 auto;
}
button.open-remote {
  width: 160px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
